/*cabecalho*/
.cabecalhoPrincipal .container {
  display: flex;
  justify-content: space-between;
}

.cabecalhoPrincipal-nav {
  display: flex;
}

/*conteudo principal*/
.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
  width: 23%;
  margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
  margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
  margin-left: 0;
}

/*seção videos*/
.videoSobre .container {
  display: flex;

}

.videoSobre-sobre {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.videoSobre-sobre-list {
  flex-grow: 1;
}

/*rodapé*/
.rodapePrincipal-navMap-list {
  display: flex;
  /*flex-direction: column;
  flex-wrap: wrap;*/
  flex-flow: column wrap;
  height: 260px;
}

.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-right: 5%;
  width: 70%;
}

.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}


/*versão mobile*/
@media screen and (max-width: 760px) {

  /*cabecalho*/
  .cabecalhoPrincipal .container {
    flex-direction: column;
  }

  .cabecalhoPrincipal-titulo {
    align-self: center;
  }

  .cabecalhoPrincipal-nav {
    flex-direction: column;
    text-align: center;
  }

  .cabecalhoPrincipal-nav-link-app {
    order: -1;
  }

  /*conteudo principal*/

  .conteudoPrincipal-cursos-link {
    width: 100%;
  }

  /*secao videos*/
  .videoSobre .container {
    flex-direction: column;
  }


  /*rodapé*/
  .rodapePrincipal-navMap-list {
    flex-wrap: nowrap;
    height: auto;
  }

  .rodapePrincipal-patrocinadores .container {
    flex-direction: column;
  }

  .rodapePrincipal-patrocinadores-list {
    justify-content: space-between;
    margin-right: 0 auto;
    width: 100%;
  }

  .rodapePrincipal-contatoForm-fieldset {
    justify-content: center;
  }
}